/* Global styles for the entire page */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e5e5e5;
  font-family: 'roboto', sans-serif;
}
a{
    text-decoration: none; /* Remove underline from links */
}
/* Style for the logo image */
.logo{
    display: block;
    margin: 195px auto 122px auto;
}
/* Style for the input fields */
input{
    width: 321px; /* Set width to 321px */
    height: 46px; /* Set height to 46px */
    background: #f7f7f7; /* Light gray background */
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.09);
    border-radius: 10px; /* Rounded corners */
    border: none; /* Remove default border */
    display: block; /* Display as a block element */
    margin: 0 auto /* Center horizontally with auto margins */ 
}
/* Style for the placeholder text in the input fields */
input::placeholder {
    line-height: 15px; /* Set line height to 15px */
    font-weight: 400; /* Normal font weight */
    font-style: normal; /* Normal font style */
    color: #969696; /* Placeholder text color */
    padding-left: 19px; /* Add left padding of 19px */
    font-size: 13px; /* Placeholder text size */
}
/* Style for the password input field */
.password{
    margin-top: 21px; /* Add top margin of 19px */
}

/* Style for the "Esqueci minha senha" link */
.forgot{
    margin: 35px 30px 38px 0; /* Add margin: top 35px, right 30px, bottom 30px, left 0 */
    display: block;
    font-style: normal; /* Normal font style */
    font-weight: 400; /* Normal font weight */
    font-size: 13px; /* Font size for "Esqueci minha senha" */
    line-height: 15px; /* Line height for "Esqueci minha senha" */
    color: #000000; /* Text color for "Esqueci minha senha" */
    text-align: right; /* Align text to the right */
    text-decoration: none;
}

/* Style for the "Entrar" button */
button{
    display: block;
    margin: 0 auto; /* Center horizontally with auto margins */
    background: #323232;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    width: 133px;
    height: 46px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

/* Style for the "Criar conta" text */
.signup{
    display: block;
    margin-top: 21px; /* Add top margin of 21px */
    margin-bottom: 62px; /* Add bottom margin of 62px */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from the link */
    font-style: normal; /* Normal font style */
    font-weight: 400; /* Normal font weight */
    font-size: 15px; /* Font size for "Criar conta" */
    line-height: 18px; /* Line height for "Criar conta" */
    color: #969696; /* Text color for "Criar conta" */

}
/* Style for the "Criar conta" text */
strong{
    color: #323232; /* Text color for "Criar conta" */
}

/* Style for the "OU" text */
.or{
    font-style: normal; /* Normal font style */
    font-weight: 900; /* Bold font weight */
    font-size: 18px; /* Font size for "OU" */
    line-height: 21px; /* Line height for "OU" */
    text-align: center; /* Center the text */
    color: #000000; /* Text color for "OU" */
}
/* Style for the container that holds the images */
.container{
    text-decoration: none; /* Remove underline from links */
    display: flex; /* Use flexbox to arrange items in a row */
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* Add space between the items */
    align-items: center; /* Center items vertically */
}
/* Style for the images inside the container */
.img-link img{
    width: 40px; /* Set width of the images to 40px */
    height: 40px; /* Set height of the images to 40px */
    cursor: pointer; /* Change cursor to pointer on hover */
}
